@import url("http://fonts.googleapis.com/earlyaccess/droidarabickufi.css");


* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	transition: .5s;
}



body {
	margin: 0;
	padding: 0;
    font-family: "Droid Arabic Kufi",Helvetica,Arial,sans-serif;
    font-family: "Droid Arabic Kufi","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.fa {
	display: inline;
}

.clearfix {
	clear: both;
}

header {
	background-image: url('../images/background.jpg');
}

.overlay {
	width: 100%;
	height: 100%;
	margin: 0;
	position: absolute;
	background-color: rgba(59, 59, 59, 0.6);
}

.container {
	max-width: 85%;
    margin: 0 auto;
}

.site-nav {
	height: 10%;
	margin-top: .5%;
}

.social-media {
	width: 25%;
	height: auto;
	float: left;
	margin: 0;
	padding: 0;
}

.social-media ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    float: left;
    width: 100%
}

.social-media li {
	display: inline-block;
    margin: 1% 0;
}

.social-media a {
	font-size: 22px;
	padding: 5px 8px;
	color: #fff;
    text-decoration: none;
    border-radius: 18%;
	background-color:transparent;

}

.facebook a:hover {
	background-color: #305fb3;
}

.twitter a:hover {
	background-color: #00D7D5
}

.github a:hover {
	background-color: #9A59B5;
}

.pinterest a:hover {
	background-color: #E1003A;
}

.instagram a:hover {
	background-color: #3399CC
}

.youtube a:hover {
	background-color: #ff3333;
}

.site-nav-list {
	list-style: none;
	padding: 0;
	margin: 0;
	float: right;
}

.site-nav-list li {
	display: inline-block;
	margin: 8px 10px;
	float: left;
}


.site-nav-list a {
	font-size: 20px;
	color: #fff;
	text-decoration: none;
	border-radius: 5%;
    padding: 7px;
}

.active a, .site-nav-list a:hover{
	color: #fff;
	/*background-color: #25B9D3;*/
	background-color: #00D7D5;
}

.handle {
	display: none;
}

.me {
	width: 88%;
	height: auto;
	margin: 3% 10%;
	display: inline-block;
}



.me-img {
    width: 25%;
    height: auto;
    float: left;
    padding-right: 1%;
    border-right: 2px solid #00d7d5;
}

.me-img img {
	/*width: 100%;*/
	height: auto;
	border-radius: 50%;
	padding: .5%;
	background-color: #fff;
	border: 1px solid #e4e4e4;
}

.me-info {
	float: left;
	margin: 5% 0 0 4%;
}

.me-name h1 {
	font-size: 32px;
	color: #fff;
	float: left;
	text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 3px;
	margin: 0;
	padding-bottom: 2%;
	border-bottom: 2px solid #4AA3DF;
}

.me-about p {
	font-size: 25px;
	color: #fff;
	text-align: center;
	margin: 2% 0 0;
}

.btn-scroll-down {
	color: #fff;
	text-decoration: none;
	text-align: center;
	margin: 13% 0;
	display: block;
}

.btn-scroll-down:hover {
	color: #00d7d5;
}

.special-h {
	font-size: 11px;
	color: #585353;
	text-transform: uppercase;
	display: block;
}

.special-h i:after {
    content: "";
    display: block;
    position: absolute;
    width: 15%;
    border-bottom: 1px solid #1f2021;
}

.about {
    height: auto;
    padding: 2% 0;	
}

.about p {
	color: #666;
	margin: 0;
	text-align: center;
}

.services {
    height: auto;
    padding: 2.5% 0 0;	
    position: relative;
}

.item {
	width: 32%;
	float: left;
	margin-bottom: 1%;
}

.item i {
	width: 20%;
	float: left;
	margin: 10% 0 0;
}

.item-info {
	width: 73%;
	float: left;
	padding-left: 3%;
}

footer {
	height: 405px;
}

.twitter-box {
	text-align: center;
}

.follow {
	margin: 0;
	padding: 0;
}

footer .contact-h {
	margin: 0;
}

.item-info h3 {
	font-weight: normal;
	color: #585353;
	margin: 0;
}

.item-info p {
	color: #666;
	font-size: 14px;
	margin: 0;
}

.myprojects {
	width: 100%;
    padding: 1% 0 0;	
}

.myprojects ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.myprojects li{
    display: inline-block;
    padding: .2% .7%;
    border: 1px solid #aaa;
    border-radius: 10%;
    margin-right: .5%;
}

.selected {
	color: #fff;
	background-color: #00D7D5;
}

.gellary {
	width: 100%;
	margin-top: 2%;
}

.gellary .row {
	padding-bottom: 2%;
}

.gellary-img {
	width: 32.66%;
	height: 215px;
	position: relative;
	display: inline-block;
}

.gellary-img img  {
	width: 95%;
    height: 100%;
    margin: 15px 0;
    border-radius: 5%;
    cursor: pointer;
}

.gellary-img img:hover {
	margin-top: 2px;
}

.gellary-img .img-overlay {
	width: 95%;
	margin: 15px 0;
	background-color: rgba(0, 215, 213, .8);
    color: #fff;
    line-height: 215px;
    text-align: center;
    border-radius: 5%;
    font-size: 23px;
    font-weight: bold;
    display: none;
}

.contact {
	/*width: 100%;*/
    height: auto;
    padding-top: .1%;	
}

.contact-l {
    width: 32%;
    max-height: 297px;
    float: left;
    border-right: 1px solid #585353;
}

.contact-l h4, .contact-r h4{
    color: #585353;
    font-weight: lighter;
    font-size: 24px;
    text-transform: uppercase;
    padding-bottom: 2%;
    margin:0;
}

.contact-l h4:after, .contact-r h4:after {
	content: "";
	width: 200px;
	display: block;
    margin-top: 5px;
	border-bottom: 1px solid #585353;
}

.contact ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.contact li {
	font-size: 25px;
    color: #595959;
    margin-bottom: 2%;
}

.contact i {
	font-weight: lighter;
}

.contact a{
	text-decoration: none;
	color: #595959;
}

.contact-l a:hover {
	color: #47A1DE
}

.contact-r {
	width: 65%;
	max-height: 297px;
	float: right;
	padding-left: 2%;
}

.contact-r input {
	padding: 2.5%;
	font-size: 20px;
	color: #585353;
	border: 1px solid #585353;
	border-radius: 5px;
}


.contact-r input:hover {
	border-color: #47A1DE;
}

.contact-r textarea {
	width: 85%;
	height: 150px;
	margin-top: 1%;
	font-size: 20px;
	font-family: "Droid Arabic Kufi",Helvetica,Arial,sans-serif;
	color: #585353;
	border: 1px solid #585353;
	border-radius: 5px;	
}

.contact-r textarea:hover {
	border-color: #47A1DE;
}

.contact-r a {
	float: right;
	padding: 2%;
	margin: 5% 0;
	background: none;
	cursor: pointer;
	color: #585353;
	border: 1px solid #585353;
	border-radius: 50%;
}

.contact-r a:hover {
    color: #fff;
    background-color: #47A1DE;
    border-color: #47A1DE;
}

footer {
	width: 100%;
	height: 270px;
	margin-top: .5%;
	background-color: #585353;
}

.twitter-box {
	width: 366.9px;
	float: left;
	padding: 1% .5% 0 0;
    border-right: 1px solid #fff;
}

.follow {
	width: 65%;
	float: left;
	margin: 3% 0;
	padding-left: 2%;
}

.follow h4 {
	font-size: 25px;
    color: #fff;
    font-weight: lighter;
    text-align: center;
    text-transform: uppercase;
    display: block;
    border-bottom: 1px solid #fff;
    margin-bottom: 2%

}

.follow ul {
	margin: 0;
	padding: 0;
	list-style: none;
    text-align: center;
}

.follow li {
	display: inline-block;
	margin: 0 1%;
}

.follow a {
	font-size: 38px;
	color: #fff;
	text-decoration: none;
}

.follow a:hover {
	opacity: .7;
}

footer p {
	width: 65%;
	float: left;
	margin: 0;
    font-size: 18px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}


/* Start Responsive */


html {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

*, *:before, *:after {
	box-sizing: inherit;
}

.grid {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.grid:before, .grid:after, .row:before, .row:after {
	content: "";
	display: table;
}

.grid:after, .row:after {
	clear: both;
}


[class*='col-'] {
	width: 100%;
	float: left;
	min-height: 1px;
}

.col {
	color: #fff;
	background-color: #00d7d5;
	padding: 1em;
	margin: 8px;
	border-radius: 5px;
	text-align: center;
}

@media (min-width: 320px) and (max-width: 640px) {
	.col-sm-1 { width: 8.33333%;}
    .col-sm-2 { width: 16.66667%;}
    .col-sm-3 { width: 25%;}
    .col-sm-4 { width: 33.33333%;}
    .col-sm-5 { width: 41.66667%;}
    .col-sm-6 { width: 50%;}
    .col-sm-7 { width: 58.33333%;}
    .col-sm-8 { width: 66.66667%;}
    .col-sm-9 { width: 75%;}
    .col-sm-10 {width: 83.33333%;}
    .col-sm-11 {width: 91.6667%;}
    .col-sm-12 {width: 100%;}

.site-nav {
    margin: 0;
}

.social-media{
    display: none;
    }

.site-nav-list {
    width: 100%;   
    max-height: 0;
    overflow: hidden;
    background-color: rgba(0, 215, 213, .5);
}

.showing {
    max-height: 260px;
}

.site-nav-list li {
    display: inline-block;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    margin: 2% 0;
}


.site-nav-list a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    border-radius: 5%;
    padding: 5px 10px;
}

.active a, .site-nav-list a:hover{
    color: #fff;
    /*background-color: #25B9D3;*/
    background-color: #00D7D5;
}

.handle {
    width: 100%;
    display: inline-block;
    color: #fff;
    font-size: 22px;
    text-align: left;
    padding: 2%;
    cursor: pointer;
}

.handle:hover {
    color: #fff;
    background-color: rgba(0, 215, 213, .7);
}

.me {
    margin: 4% 0 0;
}

.me-img {
    padding: 0;
    border: none;
    margin: 0 auto;
}

.me-img img {
    width: none;
    padding: 0;
    margin: 0 25%;
}

.me-info {
    margin: 3% 0 0;
}

.me-name {
    margin: 0 12.333%;
}

.me-name h1 {
    font-size: 20px;
    letter-spacing: 0;
    padding: 0;
}

.me-about p {
    font-size: 15px;
}

.special-h {
    font-size: 9px;
    text-align: center;
}

.special-h i:after {
    width: 38%;
    margin: 0 33%;
}

.about {
    padding-top: 8%;
}

.item i {
    font-size: 90px;
    margin-top: 13%;
    padding: 0 28% 0 4%;
}

.gellary-img {
    padding-bottom: 2%;
}

.gellary-img img {
    margin: 0 2.5%;
}

.contact {
    padding-top: 1%;
}

.contact-l {
    padding-left: 2%;
    border: none;
}

.contact li {
    font-size: 22px;
}

.contact-r {
    display: none;
}

.twitter-box {
    display: none;
}

.follow {
    margin: 0;
    padding: 0 2%;
}

.follow h4 {
    margin: 1% 0 3%;
}

footer {
    margin: 0;
    padding: 3% 0;
}

footer p {
    margin: 0;
}

}

@media (min-width: 640px) and (max-width: 960px) {
	.col-md-1 { width: 8.33333%;}
    .col-md-2 { width: 16.66667%;}
    .col-md-3 { width: 25%;}
    .col-md-4 { width: 33.33333%;}
    .col-md-5 { width: 41.66667%;}
    .col-md-6 { width: 50%;}
    .col-md-7 { width: 58.33333%;}
    .col-md-8 { width: 66.66667%;}
    .col-md-9 { width: 75%;}
    .col-md-10 {width: 83.33333%;}
    .col-md-11 {width: 91.6667%;}
    .col-md-12 {width: 100%;}

.social-media {
    padding-left: 1%;
    margin-top: 1%;
}

.social-media a {
    font-size: 22px;
    padding: 4px 5px;
}

.site-nav-list li {
    padding: 6px 4px;
    margin: 0;
}


.site-nav-list a {
    font-size: 16px;
    padding: 4px;
}

.me {
    margin: 3% 8.33333%;
}

.me-img {
    padding: 0;
    margin-top: 2%;
    border: none;
}

.me-img img {
    margin-left: 25%;
}

.me-info {
    margin: 3% 0 0 8.33333%;
}

.me-about p {
    font-size: 27px;
    text-align: left;
    margin: 0;
}

.me-name h1 {
    padding: 0;
}

.special-h {
    font-size: 10px;
    text-align: center;
}

.special-h i:after {
    width: 30%;
    margin: 0 35%;
}

.about {
    padding-top: 5%;
}

.about p {
    padding: 0 2%;
}

.services {
    padding: 0;
}

.item i {
    margin: 6% 0 0;
}

.gellary-img {
    height: 230px;
    padding-bottom: 4%;
}

.gellary-img img {
    height: auto;
    max-height: 230px;
    margin-left: 2.5%;
    padding-bottom: 2%;
    border-radius: 3%;
}

.contact-l {
    padding-left: 2%;
    border: none;
}

.contact li {
    font-size: 24px;
}

.contact-r {
    display: none;
}

footer {
    height: 405px;
}

.twitter-box {
    text-align: center;
}

.follow {
    margin: 0;
    padding: 0;
}

footer .contact-h {
    margin: 0;
    border: none;
}

footer .contact-h:after {
    content: "";
    width: 45%;
    display: block;
    margin: 0 27%;
    border-bottom: 1px solid #fff;
}

.follow ul {
    margin-top: 1%;
}
    
}

@media screen and (min-width: 960px) {
	.col-lg-1 { width: 8.33333%;}
    .col-lg-2 { width: 16.66667%;}
    .col-lg-3 { width: 25%;}
    .col-lg-4 { width: 33.33333%;}
    .col-lg-5 { width: 41.66667%;}
    .col-lg-6 { width: 50%;}
    .col-lg-7 { width: 58.33333%;}
    .col-lg-8 { width: 66.66667%;}
    .col-lg-9 { width: 75%;}
    .col-lg-10 {width: 83.33333%;}
    .col-lg-11 {width: 91.6667%;}
    .col-lg-12 {width: 100%;}
}
 
/* End Responsive */
